body {
    font-family:     sans-serif;
}
/*
cursive 
'Franklin Gothic Medium',
'Arial Narrow',
Arial,
*/

.background {
    background-color: rgb(255, 233, 233);
    margin: 1vh;
    min-height: calc(98vh);
    min-width: calc(99vh);
    /* 10px的白边 */
}

.buttom {
    background-color: rgba(215, 215, 215, 0.05);
    /* 灰色半透明背景 */
    margin: 20px;
    /* 保留 20px 边距 */
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

canvas {
    position: absolute;
    top: 50%;
    /* 物理世界 中心點*/
    left: 50%;
    /* 物理世界 中心點*/
    transform: translate(-50%, -50%);
}

.card {
    min-width: 30%;
    min-height: 50%;
    z-index: 9999;
    /* 设置卡片的层叠顺序 */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-pic {
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    top: -50px;
    right: -50px;
    border: 2px solid #000;
    /* 添加黑色实线边框 */
    border-radius: 10%;
    /* 创建圆形边框 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* 添加阴影效果 */
}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.card-title,
.card-text {
    text-shadow: 2px 2px 4px pink;
    /* 添加粉色阴影效果 */
}