.background {
    background-color: rgb(255, 233, 233);
    padding: 5px;
    min-height: calc(99vh - 20px);
    /* 10px的白边 */
}

.buttom {
    background-color: rgba(215, 215, 215, 0.05);
    /* 灰色半透明背景 */
    margin: 20px;
    /* 保留 20px 边距 */
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top {
    width: 200px;
    /* 设置宽度为 200px */
    height: 300px;
    /* 设置高度为 300px */
    background-color: white;
    /* 白色背景颜色 */
    border-radius: 10px;
    /* 圆角 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* 阴影 */
    position: absolute;
    top: 50%;
    /* 保持在垂直方向正中间 */
    left: 50%;
    /* 保持在水平方向正中间 */
    transform: translate(-50%, -50%);
    /* 居中 */
}

canvas {
    position: absolute;
    top: 50%;
    /* 让线从卡片中间开始 */
    left: 50%;
    /* 让线从卡片中间开始 */
    transform: translate(-50%, -50%);
    /* 将卡片和线居中 */
}